<!-- User signUp -->
<div class="row">
  <div class="col-sm-offset-4 col-sm-4 _login-panal" style="margin-top: 15%;">
    <h2>SignUp</h2>
    <form novalidate>
      <div>
        <input type="email" class="_inputBox" formControlName="email" placeholder="Email">
      </div>
      <div>
        <input type="password" class="_inputBox" formControlName="password" placeholder="Password">
      </div>
      <div>
        <input type="password" class="_inputBox" formControlName="confPassword" placeholder="ConfPassword">
      </div>
      <div>
        <button class="_inputBox btn btn-default" routerLink="/unityHome">Submit</button>
      </div>
    </form>
  </div>
</div>
<!-- User signUp closed -->
